<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/admin/adminHeader.css">
</head>

<body>
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="logo">Codegram</div>
      <span class="member-list">
        회원 목록
      </span>
      <span class="feed">
        피드 관리
      </span>
      <span class="feed-report">
        피드 신고 관리
      </span>
      <span class="comment-report">
        댓글 신고 관리
      </span>
      <span class="logout">
        <a href="/member/logout">로그아웃</a>
      </span>
    </div>
  </div>
</body>
</html>