<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>보관된 스토리</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/mypage/myStory.css">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
</head>
<body>
  
  <main>
    <div class="myStory-back-button-container" id="myStoryBackButtonContainer">
      <button class="back-button" id="myStoryBackButton"><i class="fas fa-arrow-left" th:text="보관"></i></button>
      <div class="back-button-text" id="myStoryBackButtonText" th:text="스토리"></div>
    </div>
    <session>
      <th:block class="header-container" th:replace="~{fragments/header}"></th:block>  
      <!-- 스토리 목록 -->
      <div id="myStoryListContent" class="list-content">
        <ul id="myStoryList" class="myStory-list"></ul>
        <button id="loadMore" class="load-more">더보기</button>
      </div>
  </session>
  </main>
  <div class="footer-container">
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
  </div>
  <script src="/js/myPage/myStory.js"></script>
</body>
</html>