<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.cgram.block.mapper.BlockMapper">

	<select id="getMemberNoByNickname" resultType="int">
	    SELECT MEMBER_NO
	    FROM MEMBER
	    WHERE MEMBER_NICKNAME = #{nickname}
	</select>
	
	<insert id="insertBlock">
		INSERT INTO BLOCK (BLOCK_MEMBER, BLOCKED_MEMBER, CREATED_AT )
		VALUES (#{loggedInMemberNo}, #{profileMemberNo}, DEFAULT)
	</insert>
	
	<select id="selectBlockedList" resultType="map">
    SELECT 
        m.MEMBER_NO AS memberNo, 
        m.MEMBER_NICKNAME, 
        m.PROFILE_IMG
    FROM 
        BLOCK b
    JOIN 
        MEMBER m ON b.BLOCKED_MEMBER = m.MEMBER_NO
    WHERE 
        b.BLOCK_MEMBER = #{memberNo}
	</select>
	
	<delete id="deleteBlock">
    DELETE FROM BLOCK
    WHERE BLOCK_MEMBER = #{loggedInMemberNo}
      AND BLOCKED_MEMBER = #{blockedMemberNo}
	</delete>
	



</mapper>