<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kh.cgram.board.mapper.BoardMapper">



	<!-- 최신 게시물 가져오기 -->
	<select id="findLatestBoards" resultType="Board">
		SELECT *
		FROM BOARD
		ORDER BY CREATED_AT DESC
		LIMIT #{pageSize} OFFSET #{pageSize} * (#{page} - 1)
	</select>

	<!-- lastBoardNo 이후 게시물 가져오기 -->
	<select id="findBoardsAfter" resultType="Board">
		SELECT *
		FROM  BOARD
		WHERE BOARD_NO > #{lastBoardNo}
		ORDER BY CREATED_AT DESC
		LIMIT #{pageSize} OFFSET #{pageSize} * (#{page} - 1)
	</select>









</mapper>