<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kh.cgram.board.mapper.BoardMapper">


<!-- 	<collection
		property="imageList"
		select="selectImageList"
		column="BOARD_NO"
		javaType="java.util.ArrayList"
		ofType="BoardImg"
	/> 
-->

<!-- 	<select id="selectImageList" resultType="BoardImg">
		SELECT *
		FROM BOARD_IMG
		WHERE BOARD_NO = #{boardNo}
		ORDER BY IMG_ORDER ASC
	</select> 
-->



	<!-- 최신 게시물 가져오기 -->
	<select id="findLatestBoards" resultType="Board">
		SELECT *
		FROM BOARD
		ORDER BY CREATED_AT DESC
		LIMIT #{pageSize} OFFSET #{pageSize} * (#{page} - 1)
	</select>

	<!-- lastBoardNo 이후 게시물 가져오기 -->
	<select id="findBoardsAfter" resultType="Board">
		SELECT *
		FROM  BOARD
		WHERE BOARD_NO > #{lastBoardNo}
		ORDER BY CREATED_AT DESC
		LIMIT #{pageSize} OFFSET #{pageSize} * (#{page} - 1)
	</select>
	
	<!-- 팔로우하지 않은 회원들의 게시물을 최신순으로 랜덤 조회 -->
	<select id="selectRandomPosts" resultType="BoardImg">
        SELECT 
            BI.BOARD_NO,
            BI.IMG_NO, 
            BI.IMG_PATH,
            BI.IMG_RENAME
        FROM BOARD B
        JOIN BOARD_IMG BI ON B.BOARD_NO = BI.BOARD_NO
        WHERE B.MEMBER_NO NOT IN (
            SELECT FOLLOWING_MEMBER 
            FROM FOLLOW
            WHERE FOLLOWER_MEMBER = #{memberNo}
        )
        AND B.MEMBER_NO NOT IN #{memberNo}
        AND BI.IMG_ORDER = 1
        AND B.BOARD_DEL_FL = 'N'
        ORDER BY B.CREATED_AT DESC
    </select>

</mapper>