<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.kh.cgram.board.mapperCommentMapper">


    <!-- 댓글 등록 -->
    <insert id="commentInsert" parameterType="Comment" useGeneratedKeys="true">
        <selectKey order="BEFORE" resultType="_int" keyProperty="commentNo">
            SELECT SEQ_COMMENT_NO.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO "COMMENT"
        VALUES(	#{commentNo},
        #{commentContent},
        DEFAULT,
        DEFAULT,
        #{memberNo},
        #{boardNo},

        <if test="parentCommentNo == 0">
            NULL
        </if>

        <if test="parentCommentNo != 0">
            #{parentCommentNo}
        </if>
        )
    </insert>

    <!-- 댓글 삭제 -->
    <update id="commentDelete">
        UPDATE	"COMMENT"
        SET		COMMENT_DEL_FL = 'Y'
        WHERE	COMMENT_NO = #{commentNo}
          AND		MEMBER_NO = #{memberNo}
    </update>


</mapper>
