<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.kh.cgram.follow.mapper.FollowMapper">

	<select id="getMemberNoByNickname" resultType="int">

	    SELECT MEMBER_NO
	    FROM MEMBER
	    WHERE MEMBER_NICKNAME = #{nickname}
	</select>

	<insert id="insertFollow" >
		INSERT INTO FOLLOW (FOLLOWING_MEMBER, FOLLOWER_MEMBER, CREATED_AT, CONFIRM)
		VALUES (#{loggedInMemberNo}, #{profileMemberNo}, DEFAULT, DEFAULT)
	</insert>
	
	<delete id="deleteFollow">
        DELETE FROM FOLLOW
        WHERE FOLLOWING_MEMBER = #{loggedInMemberNo} AND FOLLOWER_MEMBER = #{profileMemberNo}
    </delete>

	<!-- 팔로우 상태 확인 -->
	<select id="checkFollowStatus" resultType="_int">
	    SELECT COUNT(*)
	    FROM FOLLOW
	    WHERE FOLLOWER_MEMBER = #{profileMemberNo}
	      AND FOLLOWING_MEMBER = #{loggedInMemberNo}
	</select>
	
	<select id="getFollowingList" resultType="map">
    SELECT 
        m.MEMBER_NO AS memberNo,
        m.MEMBER_NICKNAME AS nickname,
        m.PROFILE_IMG AS profileImg
    FROM 
        FOLLOW f
    JOIN 
        MEMBER m ON f.FOLLOWER_MEMBER = m.MEMBER_NO
    WHERE 
        f.FOLLOWING_MEMBER = #{memberNo}
</select>

<select id="getFollowerList" resultType="map">
    SELECT 
        m.MEMBER_NO AS memberNo,
        m.MEMBER_NICKNAME AS nickname,
        m.PROFILE_IMG AS profileImg
    FROM 
        FOLLOW f
    JOIN 
        MEMBER m ON f.FOLLOWING_MEMBER = m.MEMBER_NO
    WHERE 
        f.FOLLOWER_MEMBER = #{memberNo}
</select>



</mapper>