<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.kh.cgram.main.mapper.MainMapper">



    <resultMap type="Board" id="board_rm">
  
  	<id property="boardNo" column="BOARD_NO"/>

	<collection 
		property="imageList"
		select="selectImageList"
		column="BOARD_NO"
		javaType="java.util.ArrayList"
		ofType="BoardImg"
	/>
	
	<collection 
		property="commentList"
		select="selectCommentList"
		column="BOARD_NO"
		javaType="java.util.ArrayList"
		ofType="Comment"
	/>
	
  </resultMap>
  
  <!-- 특정 Feed의 이미지를 order 순서로 조회 -->
  <select id="selectImageList" resultType="BoardImg">
  	SELECT *
	FROM BOARD_IMG
	WHERE BOARD_NO = #{boardNo}
	ORDER BY IMG_ORDER ASC
  </select>
  
  <!-- 특정 Feed의 댓글을 조회  -->
  <select id="selectCommentList" resultType="Comment">
	SELECT
		*
	FROM
		"COMMENT"
	WHERE
		BOARD_NO = #{boardNo}
  </select>
  
  
  
  <!-- 좋아요 -->

	<!-- 좋아요 눌렀는지 확인 -->
	<select id="checkBoardLike" resultType="_int">
		SELECT 
			COUNT(*)
		FROM
			"BOARD_LIKE"
		WHERE
			MEMBER_NO = #{memberNo}
		AND
			BOARD_NO = #{boardNo}
	</select>

	<!-- 좋아요 DB에 저장 -->
	<insert id="insertBoardLike">
		INSERT INTO "BOARD_LIKE" (MEMBER_NO, BOARD_NO)
		VALUES(#{memberNo}, #{boardNo})
	</insert>

	<!-- 좋아요 DB에서 삭제 -->
	<delete id="deleteBoardLike">
		DELETE FROM 
			"BOARD_LIKE"
		WHERE 
			MEMBER_NO = #{memberNo}
		AND   
			BOARD_NO = #{boardNo}
	</delete>

	 <!-- 좋아요 수 -->
	<select id="getLikeCount">
		SELECT 
			COUNT(*)
		FROM 
			"BOARD_LIKE"
		WHERE 
			BOARD_NO = #{boardNo}
	</select>
	
	
	
	
	<!-- 저장 -->
	
	<!-- Keep 눌렀는지 확인 -->
	<select id="checkBoardMark" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			"MARK"
		WHERE
			MEMBER_NO = #{memberNo}
		AND
			BOARD_NO = #{boardNo}
	</select>
	
	<!-- Keep DB에 저장 -->
	<insert id="insertBoardMark">
		INSERT INTO "MARK" (MEMBER_NO, BOARD_NO)
		VALUES(#{memberNo}, #{boardNo})
	</insert>

	<!-- Keep DB에서 삭제 -->
	<delete id="deleteBoardMark">
		DELETE FROM 
			"MARK"
		WHERE 
			MEMBER_NO = #{memberNo}
		AND   
			BOARD_NO = #{boardNo}
	</delete>

	 <!-- Keep 개수 -->
	<select id="getMarkCount">
		SELECT 
			COUNT(*)
		FROM 
			"MARK"
		WHERE 
			BOARD_NO = #{boardNo}
	</select>
	
	<!-- 팔로우한 스토리 목록 조회 -->
	<select id="selectStoryList" resultType="Story">
		SELECT M1.MEMBER_NICKNAME,
		       M1.PROFILE_IMG
		FROM STORY S1
		JOIN MEMBER M1 ON (S1.MEMBER_NO = M1.MEMBER_NO)
		WHERE S1.STORY_DEL_FL = 'N'
		  AND S1.CREATED_AT > CURRENT_DATE - 1
		  AND M1.MEMBER_NO IN (
		       SELECT FOLLOWER_MEMBER
		       FROM FOLLOW
		       WHERE FOLLOWING_MEMBER = #{memberNo}
		  )
		GROUP BY M1.MEMBER_NICKNAME, M1.PROFILE_IMG
		ORDER BY M1.MEMBER_NICKNAME
	</select>
	
	
	<!-- 팔로우한 회원목록 조회 -->
	<select id="getFollowList" resultType="Follow">
		SELECT
			FOLLOWER_MEMBER
		FROM
			FOLLOW
		WHERE
			FOLLOWING_MEMBER = #{memberNo}
		AND
			CONFIRM = 1
	</select>
	
	<!-- 팔로우한 회원들의 삭제되지 않은 Feed 개수 조회 -->
	<select id="getFollowListCount" resultType="_int">
		SELECT 
			COUNT(*)
		FROM
			BOARD B
		WHERE
			B.MEMBER_NO IN (
				SELECT	FOLLOWER_MEMBER
				FROM	FOLLOW
				WHERE	FOLLOWING_MEMBER = #{memberNo}
				AND		CONFIRM = 1)
		AND
			BOARD_DEL_FL = 'N'
	</select>
	
	<!-- /////  그래서 이미지를 어디서 가져온다고 ?? 
		조회 결과를 board_rm에 지정된 Type == Board에 저장하고
		+ collection 태그를 수행해서
		selectImageList 조회 후 Board.imageList 필드에 저장-->
		
<!-- 							
		WHEN CURRENT_DATE - CREATED_AT < 30 
		THEN FLOOR( CURRENT_DATE - CREATED_AT ) || '일 전'
-->
		
	<!-- 지정된 페이지 분량의 게시글 목록 조회 -->
	<select id="selectFeedList" resultMap="board_rm">
		SELECT
			ROW_NUMBER() OVER(ORDER BY BOARD_NO ASC) AS "RNUM",
			BOARD_NO,
			BOARD_CONTENT,
			MEMBER_NICKNAME,
			PROFILE_IMG,
			
			(SELECT COUNT(*)
			 FROM	"COMMENT" C
			 WHERE	C.BOARD_NO = B.BOARD_NO
			 AND	C.COMMENT_DEL_FL = 'N') AS "COMMENT_COUNT",
			
			(SELECT COUNT(*)
			 FROM "BOARD_LIKE" L
			 WHERE L.BOARD_NO = B.BOARD_NO) AS "LIKE_COUNT",
			
			(SELECT COUNT(*)
			 FROM	"BOARD_LIKE" L2
			 WHERE	B.BOARD_NO = L2.BOARD_NO
			 AND	L2.MEMBER_NO = #{memberNo}) AS "LIKE_CHECK",
			
			(SELECT COUNT(*)
			 FROM	"MARK" M2
			 WHERE	B.BOARD_NO = M2.BOARD_NO
			 AND	M2.MEMBER_NO = #{memberNo}) AS "MARK_CHECK",
			
		<![CDATA[ 
		CASE 
			WHEN CURRENT_DATE - B.CREATED_AT  < 1 / 24 / 60
			THEN FLOOR( (CURRENT_DATE - B.CREATED_AT) 
						* 24 * 60 * 60 ) || '초 전'
						
			WHEN CURRENT_DATE - B.CREATED_AT  < 1 / 24
			THEN FLOOR( (CURRENT_DATE - B.CREATED_AT) 
						* 24 * 60  ) || '분 전'
			
			WHEN CURRENT_DATE - B.CREATED_AT  < 1 
			THEN FLOOR( (CURRENT_DATE - B.CREATED_AT) 
						* 24 ) || '시간 전'
						
			ELSE TO_CHAR(B.CREATED_AT, 'YYYY-MM-DD')
						
		END AS "CREATED_AT"
		]]>
			
		FROM
			"BOARD" B
		JOIN
			"MEMBER" M ON (B.MEMBER_NO = M.MEMBER_NO)
		WHERE
			BOARD_DEL_FL = 'N'
		AND
			M.MEMBER_NO IN (
				SELECT
					FOLLOWER_MEMBER
					
				FROM
					FOLLOW
				WHERE
					FOLLOWING_MEMBER = #{memberNo}
				AND
					CONFIRM = 1)
		ORDER BY
			RNUM DESC
	</select>
	
	<select id="selectRecommendList" resultType="Member">
	SELECT 
	    MEMBER_NO,
	    MEMBER_NICKNAME,
	    MEMBER_NAME,
	    PROFILE_IMG
	FROM 
	    MEMBER MM
	WHERE 
	    MEMBER_DEL_BAN_FL = 1
	AND 
	    MEMBER_NO NOT IN (
	        SELECT FOLLOWER_MEMBER
	        FROM FOLLOW
	        WHERE FOLLOWING_MEMBER = #{memberNo})
	</select>
	
	

</mapper>