<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cgram.myPage.mapper.MyPageMapper">

	<update id="updateProfileImg">
		UPDATE MEMBER
		SET PROFILE_IMG = #{profileImg}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<update id="updateProfile">
		UPDATE MEMBER
		SET SELF_INTRODUCTION = #{selfIntroduction},
		MEMBER_DISCLOSURE_SCOPE = #{memberDisclosureScope}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="selectMyStory" resultType="myStory">
	    SELECT S.* 
	    FROM STORY S
	    WHERE S.MEMBER_NO = #{memberNo}
	   	AND S.STORY_DEL_FL = 'N'
	    ORDER BY CREATED_AT DESC
    	OFFSET (#{cp}-1)*10 ROWS
    	FETCH NEXT 10 ROWS ONLY
	</select>
	
	
	<select id="selectMemberSaved" resultType="BoardImg">
        SELECT BI.*
        FROM BOARD B
        JOIN MARK M ON B.BOARD_NO = M.BOARD_NO
        JOIN BOARD_IMG BI ON B.BOARD_NO = BI.BOARD_NO
        WHERE M.MEMBER_NO = #{memberNo}
        AND BOARD_DEL_FL = 'N'
        AND BI.IMG_ORDER = 1
    </select>
	
	<select id="findMemberByNickname" resultType="Member">
	    SELECT * 
	    FROM MEMBER 
	    WHERE NICKNAME = #{nickname}
	</select>
	
	<select id="MyStoryCount">
		SELECT COUNT(*)
		FROM STORY
		WHERE MEMBER_NO = #{memberNo}
		AND STORY_DEL_FL = 'N'
	</select>

	
</mapper>
    

