<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.cgram.myPage.mapper.MyPageMapper">

	<update id="updateProfileImg">
		UPDATE MEMBER
		SET PROFILE_IMG = #{profileImg}
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<update id="updateProfile">
		UPDATE MEMBER
		SET SELF_INTRODUCTION = #{selfIntroduction},
		MEMBER_DISCLOSURE_SCOPE = #{memberDisclosureScope}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<select id="selectMemberPosts" resultType="BoardImg">
		SELECT BI.BOARD_NO, BI.IMG_NO, BI.IMG_PATH, BI.IMG_RENAME
		FROM BOARD B
		JOIN BOARD_IMG BI ON B.BOARD_NO = BI.BOARD_NO
		WHERE B.MEMBER_NO = #{memberNo}
    	AND B.BOARD_DEL_FL = 'N'
	</select>
	
	<select id="selectMemberSaved" resultType="BoardImg">
        SELECT B.*
        FROM BOARD B
        JOIN MARK M ON B.BOARD_NO = M.BOARD_NO
        WHERE M.MEMBER_NO = #{memberNo}
    </select>
	
	

	<select id="findMemberByNickname" resultType="Member">
	    SELECT * 
	    FROM MEMBER 
	    WHERE NICKNAME = #{nickname}
	</select>

	
</mapper>
    

