<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram 클론</title>
  <link rel="stylesheet" th:href="/css/myPage.css">
  <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
</head>

<body>
  <!-- 헤더 -->
  <!-- <header class="header">
        <nav class="nav">
            <a href="#">스토리1</a>
            <a href="#">스토리2</a>
            <a href="#">스토리3</a>
            <a href="#">스토리4</a>
            <a href="#">스토리5</a>
        </nav>
    </header> -->
  <div id="root"></div>

  <script>
    // React 컴포넌트를 정의
    function App() {
      return (
        <div>
          <h1>React 앱이 HTML에 삽입되었습니다!</h1>
          <p>이 내용은 React 컴포넌트입니다.</p>
        </div>
      );
    }

    // ReactDOM을 사용하여 'root' div에 React 앱 렌더링
    ReactDOM.render(<App/>, document.getElementById('root'));
  </script>




  <!-- 푸터 -->
  <!-- <footer class="footer">
        <div class="footer-item">문의</div>
        <div class="footer-item">개인정보</div>
        <div class="footer-item">사용 약관</div>
    </footer> -->
</body>

</html>