<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>로그인 페이지</title>
  <link rel="stylesheet" href="/css/member/login-style.css">
</head>
<body>

  <div id="logoutMessage" style="display:none; color:green;"></div>

  <!-- 왼쪽 로그인 이미지 -->
  <div class="login-image"></div>

  <!-- 오른쪽 로그인 폼과 가입하기 섹션 -->
  <section class="login-content">
    <!-- 로그인 폼 -->
     <!-- 폼의 특징으로  -->
    <form id="loginForm" class="loginForm" method="POST" action="login">
      <h2>CodeGram</h2>
      <input type="text" name="memberId" placeholder="아이디" />
      <input type="password" name="memberPw" placeholder="비밀번호" />
      <button type="submit">로그인</button>
      <div id="loginMessage"></div>
      <div class="signup-find-area">
        <a href="#" id="findIdLink">ID 찾기</a>
        <div>/</div>
        <a href="#" id="findPwLink">PW 찾기</a>
      </div>
      
    </form>

    <!-- 모달 -->
    <div id="findModal" class="modal">
      <div class="modal-content">
        <span class="close" id="closeModalButton" onclick="closeModal()">×</span>
        <h3 id="modalTitle">모달 제목</h3>
        <p id="modalDescription">모달 설명</p>
        <input type="text" id="nameInput" placeholder="이름 입력" />
        <input type="email" id="emailInput" placeholder="이메일 입력" />
        <input type="text" id="idInput" placeholder="아이디 입력" style="display: none;" />
        <div class="signUp-input-area">
          <select id="birthYear"></select>
          <select id="birthMonth"></select>
          <select id="birthDay"></select>
        </div>
        <button id="findButton" type="button">찾기</button>
      </div>
    </div>

    <!-- 가입하기 섹션 -->
    <div class="signup-section">
      계정이 없으신가요? <a href="/member/terms">가입하기</a>
    </div>
  </section>

<script src="/js/member/login.js"></script>
</body>
</html>
 