  <form th:fragment= "frag-modal-write" action="insert" method="POST" class="board-write" id="boardWriteFrm" enctype="multipart/form-data">
    <!-- 사진 업로드 모달 -->
    <div id="modalFeedWriteOverlay" class="modal-overlay hide" style="z-index: 2001;">

      <div id="modalFeedWriteOverlayBackground" class="modal-overlay-background"></div>
      <!-- 닫기 버튼 모양 ==> 대각선 두개를 교차해서 만들어짐 -->
      <div id="modalCloseButton" class="modal-close-button">
        <svg aria-label="닫기 버튼 아이콘" role="img" viewBox="0 0 24 24">
          <title>Close</title>
          <polyline class="modal-close-button-line-diagonal" points="20.643 3.357 12 12 3.353 20.647"></polyline>
          <line class="modal-close-button-line-diagonal" x1="20.649" x2="3.354" y1="20.649" y2="3.354"></line>
        </svg>
      </div>

      <div id="modalContent" class="modal-container">

        <div id="modalContentTop" class="modal-content-top">

          <div id="modalContentTopPrev" class="modal-content-top-prev mtbtn hide" >
            <!-- 뒤로가기 버튼 -->
            <svg aria-label="뒤로가기 아이콘" height="24" role="img" viewBox="0 0 24 24" width="24">
              <title>Back</title>
              <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="2.909" x2="22.001" y1="12.004" y2="12.004"></line>
              <polyline fill="none" points="9.276 4.726 2.001 12.004 9.276 19.274" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline>
            </svg>
          </div>

          <div id="modalContentTopText" class="modal-content-top-text" style="text-align: center; flex-grow: 1;"></div>
          <div id="modalContentTopNext" class="modal-content-top-next mtbtn hide"></div>
        </div>


        <div style="display: flex;">
          <div id="modalContentLeft" class="modal-content-left">
            <div id="modalContentLeftInner" class="modal-content-left-inner">
              <div id="modalPostNew" class="hide">
                <svg aria-label="풍경이나 인물과 같은 사진를 나타내는 아이콘" width="96" height="96" viewBox="0 0 96 77" fill="none">
                  <rect x="4" y="7.72168" width="52" height="52" rx="10" transform="rotate(-3 4 7.72168)" fill="white" stroke="black"/>
                  <path d="M7.21627 53.7294C7.21627 53.7294 13.5611 45.8327 17.6266 40.7728L28.8275 48.3253L38.3724 36.9502" stroke="black"/>
                  <circle cx="15.2431" cy="20.7012" r="4.5" transform="rotate(-3 15.2431 20.7012)" stroke="black"/>
                  <rect x="40.0117" y="17.2847" width="52" height="52" rx="10" transform="rotate(3 40.0117 17.2847)" fill="white" stroke="black"/>
                  <path d="M74.9668 36.4402C74.6995 41.5422 70.3467 45.4614 65.2448 45.194C60.1428 44.9266 56.2236 40.5739 56.491
                    35.4719C56.7583 30.3699 61.1111 26.4507 66.213 26.7181C71.315 26.9855 75.2342 31.3382 74.9668 36.4402Z" fill="black" stroke="black"/>
                  <path d="M56.3 48.7287L73.7783 49.6447C79.0179 49.9193 83.0427 54.3894 82.7681 59.6289L82.6111 62.6256L46.1587
                    60.7153L46.3158 57.7185C46.5904 52.479 51.0605 48.4541 56.3 48.7287Z" fill="black" stroke="black"/>
                </svg>
              </div>
              <div id="modalPostErr" class="hide">  <!-- js로 stroke, fill 값 변경 가능한지 이후 확인 -->
                <svg aria-label="파일 업로드 오류 아이콘"  width="96" height="96" viewBox="0 0 98 98" fill="none">
                  <circle cx="49" cy="49" r="48" stroke="black"/>
                  <circle cx="49" cy="67" r="6" stroke="black"/>
                  <path d="M51.9823 25.2558L52.7792 25.7871C53.3251 26.151 53.7665 26.651 54.0599 27.2377C54.3453
                    27.8087 54.4811 28.4427 54.4545 29.0805L53.5298 51.2749C53.5123 51.6954 53.4358 52.1113 53.3028
                    52.5106L53.0682 53.2144C52.7517 54.1637 52.1279 54.9805 51.2952 55.5356L50.5547 56.0293C50.0943
                    56.3362 49.5533 56.5 49 56.5C48.4467 56.5 47.9057 56.3362 47.4453 56.0293L46.7048 55.5356C45.8721
                    54.9805 45.2483 54.1637 44.9318 53.2144L44.6972 52.5106C44.5642 52.1113 44.4877 51.6954 44.4702
                    51.2749L43.5455 29.0805C43.5189 28.4427 43.6547 27.8087 43.9401 27.2377C44.2335 26.651 44.6749
                    26.151 45.2208 25.7871L46.0177 25.2558C46.7569 24.763 47.6255 24.5 48.5139 24.5H49.4861C50.3745
                    24.5 51.2431 24.763 51.9823 25.2558Z" stroke="black"/>
                </svg>
              </div>

              <div id="modalContentLeftInnerText" class="modal-content-left-inner-text" style="font-size: 20px; padding: 14px;"></div>
              <div id="modalContentLeftInnerErr" class="modal-content-left-inner-err feed-write-hidden" style="font-size: 15px; padding: 10px; color: #737373"></div>
              <div id="modalContentLeftInnerButton" class="modal-content-left-inner-button"></div>

            </div>

            <!-- 이미지 출력부분 -->
            <div id="modalContentLeftImg" class="modal-content-left-img hide" style="width: 100%; height: 100%;">
              <div id="modalContentLeftImgView" class="modal-content-left-img-view">
                <img class="preview" src="">
                <input type="file" name="images" id="modalContentLeftInnerImg" class="modal-content-left-inner-button hide" accept="image/*" multiple>
              </div>
              <div id="modalContentLeftImgList" class="modal-content-left-img-list"></div>
            </div>

            <!-- 등록 -->
            <div id="modalContentSubmit" class="modal-content-submit hide" style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
              <div style="width: 100px; height: 100px; padding-top: 317px; object-fit: cover">
                <img id="submit" src="" style="width: 100%; height: 100%;">
              </div>
              <div id="submitText" style="font-size: 20px; padding-top: 20px"></div>
            </div>
          </div>

          <!-- 모달 글쓰기 -->
          <div id="modalContentRight" class="modal-content-right">
            <div id="modalContentScrollable" style="width: 100%; height: 100%; overflow-y: auto; display: flex; flex-direction: column; overflow-x: hidden;">

              <!-- 글 작성자 출력 -->
              <div style="width: 290px; height: 60px; display: flex; align-items: center;">

                <!-- 프로필 이미지 -->
                <!-- 세션에서 받아오는 방법으로 -->
                <img th:unless="${session.loginMember.profileImg}" th:src="#{user.default.image}" class="profile">
                <img th:if="${session.loginMember.profileImg}" th:src="${session.loginMember.profileImg}" class="profile">
                <span th:text="${session.loginMember.memberNickname}">작성자 닉네임</span>
              </div>
              <!-- 글 작성부분 -->
              <div style="padding: 0px 16px;">
                <div contenteditable="true" style="width: 100%; height: 400px; padding: 0px; resize: none; border: none; outline: none;" id="emojiTextArea" spellcheck="false" placeholder="내용을 입력하세요..."></div>
              </div>

              <!-- 이모지 버튼과 글자수 출력부분 -->
              <div style="width: 319px; height: 34px; display: flex; justify-content: space-between; padding: 5px; align-items: center;">
                <div style="cursor: pointer;" id="trigger" class="fa-regular fa-face-smile"></div>
                <p style="padding: 5px"><span id="byteCount">0</span>/2000</p>
              </div>

              <!-- 해시태그 검색결과 출력할 창 -->
              <div id="hashTagList">

              </div>

              <div style="height: 24px; width: 1px;"></div>

            </div>
          </div>

        </div>
      </div>

      <!-- 2nd 모달 -->
      <div id="modalContentDeep" class="modal-overlay hide" style="z-index: 2007;">
        <div id="modalContentDeepBackground" class="modal-overlay-background"></div>
        <div style="width: 400px; height: 202px; background-color: #fff; border-radius: 11px; display: flex; flex-direction: column; z-index: 2009;">
          <div class="fcenter" style="width: 100%; height: 106px; display: flex; flex-direction: column;">
            <div style="padding: 5px; font-size: 20px; font-weight: bold;">게시글 작성을 취소하시겠습니까?</div>
            <div style="padding: 5px; font-size: 15px; color: #737373;" >지금 나가면 작성 내용이 저장되지 않습니다.</div>
          </div>
          <div id="modalContentDeepConfirm" class="fcenter modal-deep" style="color: #ED4956;">확인</div>
          <div id="modalContentDeepCancel" class="fcenter modal-deep">취소</div>
        </div>
      </div>

    </div>
  </form>

<!-- 파일 첨부, 이미지 드래그로 순서 변경, 이미지 미리보기 캐러셀의 순서는 드래그를 따라가도록,
     게시글 등록글 글자수 카운트 이벤트 , 게시글 등록 백엔드 마무리 + 이모지 버튼 이벤트 수정 및 적용 -->


<!-- // <form enctype="multipart/form-data" method="POST" role="presentation"><input accept="image/jpeg,image/png,image/heic,image/heif" multiple="" type="file"></form> -->