<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/chatting/chatting.css">
  <link rel="stylesheet" href="/css/header.css">
</head>

<body>

  <!-- 헤더 조각 포함 -->
  <th:block class="header-container" th:replace="fragments/header :: header"></th:block>


  <div class="chatting-area">
    <ul class="chatting-list">

      <th:block th:each="chatRoom : ${chatRoomList}">
        <h2 class="memberId" th:text="${session.memberId}">내 아이디
          <button class="sendMessage"><img src="/images/writeBtn.png"></button>
        </h2>


        <br>

        <h3 class="MessageTitle">메시지</h3>
        <!-- th:chat-no : li 태그에 임의의 속성 chat-no를 추가하는데
                  타임리프를 이용해 출력된 값을 chat-no 속성 값으로 대입 -->
        <li class="chatting-item" th:chat-no="${chatRoom.chatRoomNo}" th:target-no="${chatRoom.targetNo}">
          <div class="item-header">

            <img th:if="${chatRoom.targetProfile}" class="list-profile" th:src="${chatRoom.targetProfile}">

            <img th:unless="${chatRoom.targetProfile}" class="list-profile" th:src="#{user.default.image}">

          </div>
          <div class="item-body">
            <p>
              <span class="target-name" th:text="${chatRoom.targetNickname}">상대방 이름</span>
              <span class="recent-send-time" th:text="${chatRoom.sendTime}">메세지 보낸 시간</span>
            </p>
            <div>
              <p class="recent-message" th:text="${chatRoom.lastMessage}">메세지 내용</p>

              <p th:if="${chatRoom.notReadCount > 0}" class="not-read-count" th:text="${chatRoom.notReadCount}"></p>
            </div>
          </div>
        </li>

      </th:block>
    </ul>


    <div class="chat-container">

      <div class="DMLogo-container">
        <div class="DMLogo">
          <img src="/images/DMLOGO.png" class="DMLogo">
        </div>

        <h2 class="my-message">내 메시지</h2>
        <h4>친구나 그룹에 비공개 사진과 메시지를 보내 보세요</h4>
        <button class="sendMessage" id="sendMessageBtn">메시지 보내기</button>
      </div>




      <!-- 메시지들이 여기에 추가됩니다 -->
      <!-- <ul class="chat-messages" id="chatMessages" th:chat-no="${chatRoom.chattingRoomNo}"
        th:target-no="${chatRoom.targetNo}">

      </ul> -->


      
      <div class="chat-input">
        <label class="upload-label" for="imageUpload">📷</label>
        <input type="file" id="imageUpload" class="image-upload" accept="image/*">
        <img id="imagePreview" class="image-preview">
        <input type="text" class="message-input" id="inputChatting" placeholder="메시지 보내기...">
      </div>
    </div>
  </div>


  <div class="modal-overlay" id="chattingSearchMember">
    <div class="modal-container">
      <div class="modal-header">
        <div class="modal-title">새로운 메시지</div>
        <div style="width: 24px;"></div>
        <button class="close-button">✕</button>
      </div>

      <div class="modal-search">
        <input type="text" class="search-input" placeholder="받는 사람" autocomplete="off">
      </div>

      <div class="modal-content">
        <div class="no-results">제안을 찾을 수 없습니다.</div>
        <div class="search-results"></div>
      </div>

      <div class="modal-footer">
        <button class="send-button" disabled>채팅</button>
      </div>
    </div>
  </div>



  <script src="/js/chatting/chatting.js"></script>



</body>

</html>