<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/chatting/chatting.css">
  <link rel="stylesheet" href="/css/header.css">
</head>

<body>

  <!-- 헤더 조각 포함 -->
  <!-- <th:block class="header-container" th:replace="fragments/header :: header"></th:block> -->


  <div class="chatting-area">
    <ul class="chatting-list">

      <h2 class="memberId" th:text="${session.loginMember.memberId}">내 아이디
      </h2>
      <button class="sendMessage2"><img src="/images/writeBtn.png"></button>

      <br>
      <br>
      <br>
      <br>

      <h3 class="MessageTitle">메시지</h3>

      
      <th:block th:each="chatRoom : ${chatRoomList}">

      

        <li class="chatting-item" th:chat-no="${chatRoom.chattingRoomNo}" th:partner-no="${chatRoom.partnerNo}">
          <div class="item-header">

            <div style="border-radius: 50%; object-fit: cover; border: 1px solid gray; overflow: hidden; display: flex;">

              <img th:if="${chatRoom.partnerProfile}" class="list-profile" th:src="${chatRoom.partnerProfile}">
  
              <img th:unless="${chatRoom.partnerProfile}" class="list-profile" th:src="@{/images/defaultImg.png}" > 
              
            </div>

          </div>
          <div class="item-body">
            <p>
              <span class="partner-name" th:text="${chatRoom.partnerName}">상대방 이름</span>
              <span class="recent-send-time" th:text="${chatRoom.sendTime}">메세지 보낸 시간</span>
            </p>
            <div style="width: 50px;">
              <p class="recent-message" th:text="${chatRoom.lastMessage}">메세지 내용</p>
              <p th:if="${chatRoom.notReadCount > 0}" class="not-read-count" th:text="${chatRoom.notReadCount}"></p>
            </div>
          </div>
        </li>

      </th:block>
    </ul>


    <div class="chat-container">

      <div class="DMLogo-container">
        <div class="DMLogo">
          <img src="/images/DMLOGO.png" class="DMLogo">
        </div>

        <h2 class="my-message">내 메시지</h2>
        <h4>친구나 그룹에 비공개 사진과 메시지를 보내 보세요</h4>
        <button class="sendMessage" id="sendMessageBtn">메시지 보내기</button>
      </div>




      <!-- 메시지들이 여기에 추가됩니다 -->
      <ul class="chat-messages" id="chatMessages">

      </ul>




      
      <div class="chat-input">
        <label class="upload-label" for="imageUpload">📷</label>
        <input type="file" id="imageUpload" class="image-upload" accept="image/*">
        <img id="imagePreview" class="image-preview">
        <input type="text" class="message-input" id="inputChatting" placeholder="메시지 보내기...">
      </div>
    </div>
  </div>





  <div class="modal-overlay" id="chattingSearchMember">
    <div class="modal-container">
      <div class="modal-header">
        <div class="modal-title">새로운 메시지</div>
        <div style="width: 24px;"></div>
        <button class="close-button">✕</button>
      </div>

      <div class="modal-search">
        <input type="text" class="search-input" placeholder="받는 사람" autocomplete="off">
      </div>

      <div class="modal-content">
        <div class="no-results">제안을 찾을 수 없습니다.</div>
        <div class="search-results"></div>
      </div>

      <div class="modal-footer">
        <button class="send-button" disabled>채팅</button>
      </div>
    </div>
  </div>

	<script th:inline="javascript">
		const userDefaultImage = /*[[@{/images/defaultImg.png}]]*/ '기본 이미지';

    const loginMemberNo = /*[[${session.loginMember?.memberNo}]]*/ '로그인 회원 번호';
    const loginMemberNickname = /*[[${session.loginMember?.memberNickname}]]*/ '로그인 회원 닉네임';
	</script>

  <script src="/js/chatting/chatting.js"></script>



</body>

</html>