<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>feedSlide 기능</title>

  <link rel="stylesheet" th:href="@{/css/feed/feedSlide.css}">
</head>

<body th:fragment="feedSlide">

  <div class="post-images-container">
    <div class="image-slider">
      <button class="slider-button prev-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2">
          <path d="M15 18l-6-6 6-6" />
        </svg>
      </button>
      <button class="slider-button next-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2">
          <path d="M9 18l6-6-6-6" />
        </svg>
      </button>
      <div class="image-track">
        <th:block th:each="img : ${board.imageList}">
          <img th:src="|${img.imgPath}|" th:title="${img.imgRename}" class="post-image">
        </th:block>
      </div>
      <div class="slider-dots">
        <th:block th:each="img, status : ${board.imageList}">
          <span th:class="${status.first} ? 'dot active' : 'dot'"></span>
        </th:block>
      </div>
    </div>
  </div>

  <script src="/js/feed/feedSlide.js"></script>
</body>

</html>