<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codegram Sidebar</title>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body th:fragment="header">
    <div class="sidebar">
        <div>
            <a class="logo" href="#">
                <span>Codegram</span>
            </a>
            <a class="nav-item" href="#">
                <span class="fa-solid fa-house"></span>
                <span>홈</span>
            </a>
            <div class="nav-item" id="searchTab">
                <span class="fa-solid fa-magnifying-glass"></span>
                <span>검색</span>
            </div>
            <a class="nav-item" href="/">
                <span class="fa-solid fa-compass"></span>
                <span>탐색 탭</span>
            </a>
            <a class="nav-item" href="/chatting">
                <span class="fa-solid fa-envelope"></span>
                <span>메시지</span>
            </a>
            <div class="nav-item" id="notificationTab">
                <span class="fa-solid fa-heart"></span>
                <span>알림</span>
            </div>
            <a class="nav-item" href="#">
                <span class="fa-regular fa-square-plus"></span>
                <span>게시물 작성</span>
            </a>
            <a class="nav-item" href="#">
                <span class="fa-regular fa-square-plus"></span>
                <span>스토리 작성</span>
            </a>
            <a class="nav-item" href="#">
                <span class="fa-solid fa-user"></span>
                <span>프로필</span>
            </a>
        </div>
        <div class="more">
            <span class="fa-solid fa-bars"></span>
            <span>더보기</span>
            <div class="more-menu">
                <a id="moreTab" href="#">
                    <span class="fa-solid fa-gear"></span>
                    <div>설정</div>
                </a>
                <a id="moreTab" href="/board/myActivity">
                    <span class="fa-solid fa-history"></span>
                    <div>내 활동</div>
                </a>
                <a id="moreTab" href="#">
                    <span class="fa-solid fa-flag"></span>
                    <div>저장됨</div>
                </a>
                <a id="moreTab" href="#">
                    <span class="fa-solid fa-sun"></span>
                    <div>모드 전환</div>
                </a>
                <a id="moreTab" href="#">
                    <span></span>
                    <div>로그아웃</div>
                </a>
            </div>
        </div>
        <!-- 검색 창과 알림 목록 -->
        <div class="side-panel hidden" id="sidePanel">
            <div class="panel-content" id="searchPanel">
                <h2>검색</h2>
                <div class="search-input-container" style="margin-bottom: 30px;">
                    <input id="searchInput" type="text" placeholder="검색"/>
                    <button class="clear-button" id="clearButton" style="display: none;">&times;</button>
                </div>
                <div class="recent-search" id="recentSearch" style="border-top: 1px solid #ddd;">
                    <h3>최근 검색 항목</h3>
                </div>
                <div class="search-results" id="searchResults" style="display: none;"></div>
            </div>
            <div class="panel-content hidden" id="notificationPanel">
                <h3>알림</h3>
                <ul>
                    <li>알림 1</li>
                    <li>알림 2</li>
                    <li>알림 3</li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/header.js"></script>
    <script src="https://kit.fontawesome.com/f0ba7b5612.js" crossorigin="anonymous"></script>
</body>
</html>

