<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 추천 기능 영역</title>

  <link rel="stylesheet" href="@{/css/peed/memberRecommend.css}">

</head>

<body th:fragment="memberRecommend">

  <!-- 회원 추천 영역 -->
  <div class="right-div">
    <!-- 내 프로필 -->
    <div class="my-profile">
      <div class="profile-img">
        <img th:unless="${member.profileImg}" src="https://via.placeholder.com/56">
        <img th:if="${member.profileImg}" th:src="#{member.memberImg}">
      </div>
      <div class="profile-info">
        <div class="profile-nickname pointer">
          <a th:href="#{/myPage/${member.memberNickname}}">
            <span th:text="${member.memberNickname}">내 닉네임</span>
          </a>
        </div>
        <div class="profile-name">
          <span th:text="${member.memberName}">내 이름</span>
        </div>
      </div>
    </div>

    <!-- 추천 헤더 -->
    <div class="recommend-header">
      <span class="recommend-text">회원님을 위한 추천</span>
      <span class="recommend-all pointer">모두 보기</span>
    </div>

    <!-- 추천 목록 -->
    <div class="recommend-list">
      <article th:each="recommend : ${recommendList}" class="recommend-user">
        <div class="recommend-user-img">
          <img th:unless="${member.memberImg}" src="https://via.placeholder.com/32">
          <img th:if="${member.memberImg}" th:src="#{member.memberImg}">
        </div>
        <div class="recommend-user-info">
          <div class="recommend-user-nickname pointer">
            <span th:text="${member.memberNickname}">해당 회원 닉네임</span>
          </div>
        </div>
        <div class="recommend-follow pointer">
          <span>팔로우</span> 
        </div>
        <!-- 팔로우 누르면 바뀐 버튼이 나와야됨. 추후 수정 -->
      </article>
    </div>

  </div>

  <script src="/js/peed/memberRecommend.js"></script>
</body>

</html>