<div id="preLoad" style="display: flex; justify-content: center; align-items: center; flex-direction: column;
    background-color: ivory; width: 100vw; height: 100vh; max-width: 100vw; max-height: 100vh;
    top: 0; left: 0; margin: 0; border: 0; position: fixed; z-index: 9999;">
    <img style="width: 200px; height: 200px; position: absolute;left: 0;top: 0;bottom: 0;right: 0; margin: auto; "
         src="/images/loading.gif"/>
    <!--    <img style="width: 200px; height: 200px; margin-top: 40vh;" src="../../static/images/loading.gif"/>-->
    <div style="flex-grow: 1;"></div>
    <div style="padding: 20px; font-size: 30px; font-weight: bold;">C O D E G R A M</div>
    <div style="padding-bottom: 5vh; font-size: 20px;">MADE BY Definition Implementation</div>
</div>
