/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  user-select: none;
  flex-direction: row;
  height: 100dvh;
  transition: all 0.3s ease;
} */
.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #fff;
  border-right: 3px solid #ddd;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.logo {
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 25px 12px 16px;
}
.sidebar-content span{
  font-size: 25px;
  width: 200px;
  height:70px;
  background-color: grey;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin : 30px 10px;
  cursor: pointer;
}
.sidebar-content span:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}
.logout{
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: auto;
}
.logout a {
  text-decoration: none;
  color: inherit;
}
.logout a:hover {
  color: white;
}