/* 모달 */
.detail-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1300px;
  height: 95%;
  background-color: white;
  border-radius: 5px;
  display: none;
  flex-direction: row;
  z-index: 1010;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.detail-modal-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.carousel-images {
  display: flex;
  background-color: black;
  flex-grow: 1;
  /* justify-content: center; */
  align-items: center;
  max-width: 750px;
  min-width: 600px;
  height: 100%;
  transition: 0.5s ease-in-out;
}

.carousel-images img {
  display: flex;
  object-fit: cover;
  max-width: 750px;
  max-height: 100%;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 2;
  padding: 10px;
  border-radius: 50%;
  user-select: none;
}

.carousel-arrow.left-arrow {
  left: 10px;
}

.carousel-arrow.right-arrow {
  right: 10px;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper{
  min-width: 100%;
  display: flex;
  justify-content: center;
}



/* 모달 이미지 */
/* .detail-modal-image {
  display: flex;
  background-color: black;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  min-width: 600px;
}
.detail-modal-image img {
  display: flex;
  object-fit: cover;
  max-width: 750px;
  max-height: 100%;
} */

/* 모달 상세 정보 */
.detail-modal-details {
  display: flex;
  flex-direction: column;
  width: 480px;
  box-sizing: border-box;
}

/* 모달 헤더 */
.detail-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #ccc solid 1px;
}

.user-info {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.detail-modal-options {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 5px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.user-avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.user-nickname {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.user-nickname:hover {
  color: gray;
}

/* 모달 내용 */
.detail-modal-content {
  overflow-y: auto;
  padding: 13px 4px;
  flex: 1;
  margin-bottom: 15px;
}

#feedDescription {
  word-break: break-all;
  white-space: pre-wrap;
}

.feed-description {
  margin-bottom: 15px;
}

.feed-info {
  display: flex;
  flex-direction: column;
  min-width: 385px;
  max-width: 385px;
  font-size: 16px;
}

.comments ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.comment-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.comment-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  max-width: 360px;
  word-break: break-all;
  white-space: pre-wrap;
}

.comment-time {
  font-size: 12px;
  color: #999;
}

.comment-time-section {
  display: flex;
  gap: 20px;
}

.comment-option-button {
  display: none;
}

.comment-option {
  font-size: smaller !important;
}

.comment-like-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.comment .user-nickname {
  font-weight: bold;
}

.comment-like-button {
  font-size: smaller !important;
}

/* 모달 푸터 */
.detail-modal-footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.detail-like-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.detail-like-icons {
  display: flex;
  padding: 10px 20px;
  gap: 16px;
  align-items: center;
}

.detail-save-icons {
  display: flex;
  padding: 10px 20px;
  gap: 20px;
  align-items: center;
}

.fa-regular, .fa-solid {
  cursor: pointer;
  font-size: 25px;
}

.fa-regular:hover, .fa-solid:hover {
  color: gray;
}

.detail-likes-count {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px 20px;
}

.detail-like-count {
  font-weight: bold;
  font-size: 15px;
  width: 100px;
  cursor: pointer;
}

.detail-like-count:active {
  color: gray;
}

.detail-feed-time {
  font-size: 12px;
  color: #999;
}

.comment-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  align-items: center;
}

textarea {
  width: 361px; /* 원하는 너비 */
  height: 22px; /* 원하는 높이 */
  resize: none; /* 크기 조절 막기 */
  overflow-y: auto; /* 세로 스크롤 활성화 */
  word-wrap: break-word; /* 단어 줄바꿈 */
  white-space: pre-wrap; /* 공백 및 줄바꿈 유지 */
  border: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

textarea:focus {
  outline: none;
}

.fa-face-smile {
  padding: 0 10px;
}

.comment-input button {
  background: none;
  color: #3897f0;
  border: none;
  font-weight: bold;
  font-size: 15px;
  padding: 0 10px;
  cursor: pointer;
  display: none;
}

.comment-input button:hover {
  color : dimgray;
}

/* 모달 오버레이 */
.detail-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
  z-index: 1000; /* 모달보다 낮고 페이지보다 높은 z-index 설정 */
  /* display: none; 기본적으로 보이지 않음 */
}

.detail-modal-overlay.hidden{
  display: none; /* 기본적으로 보이지 않음 */
}
/* 옵션 모달 */
.detail-options-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1020;
  display: none;
  flex-direction: column;
  align-items: center;
}

.detail-options-modal-container {
  width: 100%;
  padding: 10px 0;
}

.detail-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.detail-options-button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
  font-family: Arial, sans-serif;
}

.detail-options-button:last-child {
  border-bottom: none;
}

.detail-options-button:hover {
  background-color: #f9f9f9;
}

.detail-options-button.report {
  color: red;
}

.detail-options-button.unfollow {
  color: #333;
}

.fa-heart.liked {
  color: red;
}

.detail-edit-delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1020;
  display: none;
  flex-direction: column;
  align-items: center;
}

.detail-edit-delete-modal-container {
  width: 100%;
  padding: 10px 0;
}

.detail-edit-delete-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.detail-edit-delete-button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.detail-edit-delete-button.edit {
  border-bottom: 1px solid #e0e0e0;
}

.detail-edit-delete-button:hover {
  background-color: #f9f9f9;
}

.detail-edit-delete-button.edit {
  color: blue;
}

.detail-edit-delete-button.delete {
  color: red;
}

/* 좋아요 모달 */
#likesModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  display: none;
  width: 370px;
  height: 370px;
  z-index: 1020;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.detail-like-modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}

#likesModal h4 {
  margin-left: 163px;
}

#closeLikesModal {
  cursor: pointer;
  margin: 10px;
  font-size: 40px;
  color: black;
}

.detail-modal-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-likes-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
}

.detail-likes-list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.detail-likes-list img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.detail-likes-list .nickname {
  font-weight: bold;
}

/* 신고 모달 */
#reportModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  width: 400px;
  height: 470px;
  z-index: 1020;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  display: none;
}

.detail-report-modal-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#reportModal h4 {
  margin-left: 165px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

#closeReportModal {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
  color: black;
}

.detail-report-reason-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.detail-report-reason-list li {
  padding: 16px;
  cursor: pointer;
  background-color: white;
  border-top: 1px solid #dbdbdb;
}

.detail-report-reason-list li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.detail-report-reason-list li:hover {
  background-color: #efefef;
}
