/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
} */
.footer {
  padding: 20px;
  text-align: center;
  
}
.footer-links {
  margin-bottom: 10px;
}
.footer-links a {
  color: #666;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
}
.footer-team {
  font-size: 14px;
  color: #666;
}

.footer-container{
  z-index: -1;
}