/** <  모달창 뒷배경 > **/
.modal-overlay {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;

    /* 투명도 65%의 검정배경 */
    background-color: #000000a6;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-overlay-background {
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 0;
}

.modal-overlay-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** </ 모달창 뒷배경 > **/


/** <  modal-close-button Css > **/
/* 전체 버튼 스타일 */

.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 34px;
    height: 34px;
    padding: 10px;

    position: absolute;
    z-index: 3;

    top: 0;
    right: 0;
}

/* SVG 기본 스타일 */
.modal-close-button svg {
    width: 18px;
    height: 18px;
    fill: none; /* 내부 채우기 없음 */
    stroke: currentColor;
    transition: transform 0.2s, color 0.2s;
}

/* 선 스타일 */
.modal-close-button-line-diagonal {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
}

/* 아이콘의 기본 색상 */
.modal-close-button {
    color: #ffffff;
}

/* 마우스를 올렸을 때 색상 변경 및 크기 확대 */
.modal-close-button:hover {
    color: #ff9999;
    transform: scale(1.2);
}

/** </ modal-close-button Css > **/

.modal-container {
    width: 734px;
    height: 777px;
    object-fit: none;
    overflow: hidden;
    border-radius: 10px;
    z-index: 3;

    transition-timing-function: ease-in-out;
    transition-property: width;
    transition-duration: 250ms;
}

.modal-content-top {
    width: 734px;
    height: 42px;
    background-color: #fff;
    border-bottom: solid 1px #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

    transition-timing-function: ease-in-out;
    transition-property: width;
    transition-duration: 250ms;
}

.mtbtn {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.modal-content-top-next {
    font-weight: bold;
    font-size: 15px;
    color: #0095F6;

    &:hover {
        color: #0060F6;
    }
}


.modal-content-left {
    width: 734px;
    height: 734px;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-content-left-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-content-left-inner-button {
    width: 133px;
    height: 32px;
    background-color: #0095F6;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 8px;

    &:hover {
        background-color: #0050F6;
    }

}


.modal-content-right {
    width: 0px;
    height: 734px;
    background-color: #fff;
    border-left: solid 1px #DBDBDB;

    transition-timing-function: ease-in-out;
    transition-property: width;
    transition-duration: 250ms;
}

#trigger {
    cursor: pointer;
    padding: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picmo__popupContainer {
    z-index: 1;
}

.modal-deep {
    border-top: solid 1px #D9D9D9;
    flex-grow: 1;
    cursor: pointer;
}


.hide {
    display: none !important;
}

.feed-write-hidden {
    visibility: hidden;
    pointer-events: none;
}

.fcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview {
    width: 734px;
    height: 734px;
    max-width: 100%; /* 부모 요소 너비를 넘지 않음 */
    max-height: 100%; /* 부모 요소 높이를 넘지 않음 */
    object-fit: cover; /* 이미지 비율 유지하며 컨테이너에 맞춤 */
}

.profile {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50px;
    margin: 16px;
}

.hashtag-list {
    width: 100%;
    height: 49px;
    border-bottom: solid 1px #D9D9D9;
    padding: 8px 16px;
    display: flex;
    justify-content: left;
    align-content: center;
}

.hashtag-up {
    font-size: 14px;
}

.hashtag-down {
    font-size: 14px;
    color: #737373;
}