<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feed Detail</title>
  <link rel="stylesheet" href="/css/feed/feedDetail.css">
  <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
</head>

<body>
  <button id="openModalButton">modal open</button>

  <!-- 모달 창 -->
  <div class="modal" id="feedModal">
    <div class="modal-container">
      <!-- 왼쪽 이미지 영역 -->
      <div class="modal-image">
        <img id="feedImage" src="/images/user.png" alt="Feed Image">
      </div>

      <!-- 오른쪽 상세 내용 영역 -->
      <div class="modal-details">
        <!-- 닉네임 및 옵션 -->
        <div class="modal-header">
          <div class="user-info">
            <span class="user-avatar">
              <img src="/images/default-avatar.png" alt="User Avatar">
            </span>
            <a href="#" class="user-nickname" style="padding-top: 3px;">username</a>
          </div>
          <div class="modal-options">
            <span class="fa-solid fa-ellipsis"></span>
          </div>
        </div>

        <!-- 댓글 및 내용 -->
        <div class="modal-content">
          <!-- 피드 내용 -->
          <div class="feed-description">
            <div class="user-info">
              <span class="user-avatar">
                <img src="/images/default-avatar.png" alt="User Avatar">
              </span>
              <div class="feed-info">
                <span class="feed-text"><a href="#" class="user-nickname">username</a> 이곳은 피드 설명이 들어가는 영역입니다.</span>
                <span class="feed-time">하루 전</span>
              </div>
            </div>
          </div>

          <!-- 댓글 리스트 -->
          <div class="comments">
            <ul id="commentList">
              <li class="comment">
                <span class="user-nickname">comment_user</span>
                <span class="comment-text">댓글 내용이 여기에 표시됩니다.</span>
              </li>
              <li class="comment">
                <span class="user-nickname">another_user</span>
                <span class="comment-text">다른 댓글 내용이 여기에 표시됩니다.</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- 좋아요 및 입력 -->
        <div class="modal-footer">
          <div class="like-section">
            <div class="like-icons">
              <span class="fa-regular fa-heart"></span>
              <span class="fa-regular fa-comment"></span>
            </div>
            <div class="save-icons">
              <span class="fa-regular fa-flag"></span>
            </div>
          </div>
          <div class="likes-count">
            <span class="like-count">좋아요 65개</span>
            <span class="feed-time">11월 30일</span>
          </div>
          <div class="comment-input">
            <span class="fa-regular fa-face-smile"></span>
            <textarea rows="4" cols="50" placeholder="댓글 달기..."></textarea>
            <button id="commentSubmit">게시</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/feed/feedDetail.js"></script>
</body>
</html>