    <!-- ... 모달창(게시물옵션) -->
    <div id="modal" class="modal hidden">
        <div class="modal-content">
          <ul class="modal-options">
            <li class="modal-option"><button onclick="handleOption('report')">신고</button></li>
            <li class="modal-option"><button onclick="handleOption('unfollow')">팔로우 취소</button></li>
            <li class="modal-option"><button onclick="handleOption('goToPage')">회원 페이지로 이동</button></li>
            <li class="modal-option"><button onclick="handleOption('accountInfo')">이 계정 정보</button></li>
            <li class="modal-option cancel"><button onclick="closeModal()">취소</button></li>
          </ul>
        </div>
      </div>
  
  