<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CODEGRAM_TEST</title>

  <link rel="stylesheet" th:href="@{/css/feed/mainFeed(Do).css}">
  <link rel="stylesheet" th:href="@{/css/feed/feedStory(Do).css}">
  <link rel="stylesheet" th:href="@{/css/feed/feedSlide(Do).css}">
  <link rel="stylesheet" th:href="@{/css/feed/memberRecommend(Do).css}">

  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <!-- <link rel="stylesheet" th:href="@{/css/feed/feedModal(Do).css}"> -->
  <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">

</head>


<div class="header-container" th:replace="~{fragments/header}"></div>
<div th:replace= "~{feed/feedDetail}"></div>

<body>
  <!-- 사이드바 조각 -->



  <main>
    <div class="parent-container ">
      <section class="section-left-right">
        <div class="story_plus_main">
          <section class="section-left">


            <!-- 스토리 영역 -->

            <section class="stories-section">

              <div th:if="${#lists.isEmpty(stories)}" class="empty-stories">
                <p>새로운 스토리가 없습니다</p>
              </div>

              <div class="stories-container" th:if="${not #lists.isEmpty(stories)}">
                <div th:each="story : ${stories}" class="story-item" th:data-story-id="${story.storyNo}">
                  <div class="story-wrapper" th:class="${board.storyCheck ? 'viewed' : ''}">
                    <div class="story-border">
                      <img th:src="${story.profileImg != null ? story.profileImg : '/path/to/default/image.jpg'}"
                        class="story-profile-image">
                    </div>
                  </div>
                  <span th:text="${story.memberNickname}" class="story-username">닉네임</span>
                </div>
              </div>

              <th:block th:if="${stories != null && #lists.size(stories) > 6}">

                <button class="nav-button prev">
                  <span class="nav-icon">←</span>
                </button>

                <button class="nav-button next">
                  <span class="nav-icon">→</span>
                </button>

              </th:block>
            </section>

            <!-- 스토리 영역 end -->


            <!-- feed, recommend 영역 -->

            <div class="main_plus_right">
              <div class="main-container infinite-scroll-wrapper">
                <!-- 게시물이 존재하지 않을 때 -->
                <th:block th:if="${#lists.isEmpty(feedList)}">
                  <p>게시글이 존재하지 않습니다.</p>
                </th:block>

                <!-- 게시물이 존재할 때 -->
                <th:block th:unless="${#lists.isEmpty(feedList)}">
                  <article class="board-article" th:each="board : ${feedList}">
                    <div class="post">
                      <div class="post-header post-header-padding">
                        <div class="board-profile">
                          <div class="user-profile inline-block">
                            <a th:href="|member/${board.memberNickname}|">
                              <div class="user-profile-img pointer radius">
                                <img th:unless="${board.profileImg}" src="https://via.placeholder.com/50">
                                <img th:if="${board.profileImg}" th:src="${board.profileImg}">
                              </div>
                            </a>
                          </div>
                        </div>
                        <a th:href="|member/${board.memberNickname}|">
                          <div class="board-n-a pointer inline-block">
                            <span th:text="${board.memberNickname}">작성자닉네임</span>
                          </div>
                          <div>
                            <span th:text="${board.createdAt}">작성일</span>
                          </div>
                        </a>
                        <!-- 옵션 모달창이 떠야돼 -->
                        <div class="post-options">
                          <span class="more-options options-button feed-open-modal pointer">
                            <input type="hidden" class="boardNo" value="${board.boardNo}">
                            ...
                          </span>
                        </div>
                      </div>
                      <!-- 이미지 슬라이드 영역 -->
                      <div class="post-images-container">
                        <div class="image-slider">
                          <button class="slider-button prev-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2">
                              <path d="M15 18l-6-6 6-6" />
                            </svg>
                          </button>
                          <button class="slider-button next-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2">
                              <path d="M9 18l6-6-6-6" />
                            </svg>
                          </button>
                          <div class="image-track">
                            <th:block th:each="i : ${#numbers.sequence(0, #lists.size(board.imageList)-1)}">
                              <th:block th:with="img = ${board.imageList[i]}">
                                <img th:src="|${img.imgPath}${img.imgRename}|" class="post-image">
                              </th:block>
                            </th:block>
                          </div>
                          <div class="slider-dots">
                          </div>
                        </div>
                      </div>
                      <!-- 게시물 정보 영역 -->
                      <div class="important-box">
                        <!-- 좋아요, 댓글, 북마크 버튼 등 -->
                        <section class="section-1">
                          <div class="box-1">
                            <button class="action-button like-button pointer" data-board-no="${board.boardNo}">
                              <div class="action-button-div">
                                <i class="fa-heart" th:classappend="${board.likeCheck == 1} ? fa-solid : fa-regular">
                                </i>
                              </div>
                            </button>
                            <button class="action-button comment-button pointer">
                              <div class="action-button-div">
                                <i class="fa-comment"></i>
                              </div>
                            </button>
                          </div>
                          <div class="box-2">
                            <div class="action-button mark-button pointer boardMark"
                              th:data-member-no="${board.boardNo}">
                              <div class="action-button-div">
                                <i class="fa-bookmark"
                                  th:classappend="${board.markCheck == 1} ? fa-solid : fa-regular"></i>
                              </div>
                            </div>
                          </div>
                        </section>
                        <!-- 좋아요 수, 내용, 댓글 등 -->
                        <div>좋아요 <span class="likeCount" th:text="${board.likeCount}">0</span>개</div>
                        <div class="post-caption contentContainer">
                          <span class="feed-imp-Nick" th:text="${board.memberNickname}">닉</span>
                          <!-- 타임리프에서 넘어온 content를 여기에 삽입 -->
                          <th:block th:unless="${board.boardContent.length() > 200}">
                            <span class="shortContent" th:text="${board.boardContent}">(짧내용)</span>
                          </th:block>

                          <th:block th:if="${board.boardContent.length() > 200}">
                            <span class="fullContent hidden-content" th:text="${board.boardContent}">(긴내용)</span>
                            <br>
                            <span class="more-btn pointer">더 보기</span>
                          </th:block>
                        </div>
                        <a th:href="${board.boardNo}">
                          댓글 <span th:text="|[${board.commentCount}]|">0</span>개 보기...
                        </a>
                      </div>
                    </div>
                  </article>
                </th:block>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>

    <!-- 세션에서 가져오기. -->
    <!-- 회원 추천 영역 -->
    <section class="section-right">
      <section class="right-div">
        <!-- 내 프로필 -->
        <div class="recommend-my-profile">
          <div class="recommend-profile-img">
            <img th:unless="${session.loginMember.profileImg}" src="https://via.placeholder.com/56">
            <img th:if="${session.loginMember.profileImg}" th:src="${session.loginMember.profileImg}">
          </div>
          <div class="recommend-profile-info">
            <div class="recommend-profile-nickname pointer">
              <a th:href="|member/${session.loginMember.memberNickname}|">
                <span th:text="${session.loginMember.memberNickname}">내 닉네임</span>
              </a>
            </div>
            <div class="recommend-profile-name">
              <span th:text="${session.loginMember.memberName}">내 이름</span>
            </div>
          </div>
        </div>

        <!-- 추천 헤더 -->
        <div class="recommend-header">
          <span class="recommend-text">회원님을 위한 추천</span>
          <span class="recommend-all pointer">모두 보기</span>
        </div>

        <!-- 추천 목록 -->
        <div class="recommend-list">
          <!-- 걍 동기로 할래.. -->
          <article th:each="recommend : ${recommendList.subList(0, 5)}" class="recommend-user">
            <span class="recommend-user-img">
              <img th:unless="${recommend.profileImg}" src="https://via.placeholder.com/32">
              <img th:if="${recommend.profileImg}" th:src="${recommend.profileImg}">
            </span>
            <div class="recommend-user-info">
              <div class="recommend-user-nickname pointer">
                <span th:text="${recommend.memberNickname}" class="recommend-memberNickname">해당 회원 닉네임</span>
              </div>
            </div>
            <div class="recommend-follow pointer">
              <span th:text="'팔로우'" class="main-follow-btn" data-nickname="${recommend.memberNickname}">팔로우</span>
              <!-- 팔로우 누르면 바뀐 버튼이 나와야됨. 추후 수정 -->
            </div>
          </article>
        </div>
      </section>
    </section> <!-- 회원 추천 영역 end -->





    <!-- ----------------------------- 모달창 ----------------------------------- -->

    <!-- 모달창 end -->


  </main>

  <!-- 이 하얀공간이 보이면 다음 게시물이 출력 -->
  <div id="SCmainFooter" style="height: 50px; width: 100%;"></div>

  <!-- 푸터 -->
  <div th:replace="~{fragments/footer :: footer}"></div>






  <script th:inline="javascript">

    // board="feedList"
    const feedList = /*[[${feedList}]]*/ false;
    // 로그인 true, 비회원 false
    const loginCheck = /*[[${session.loginMember != null}]]*/ false;
    // 로그인한 회원 닉네임
    const memberNickname = /*[[${session.loginMember?.memberNickname}]]*/ null;
    // 상세조회한 게시글 정보
    const board = /*[[${board}]]*/ null;

  </script>

  <!-- 스크립트 -->
  <script src="/js/feed/mainFeed(Do).js"></script>
  <script src="/js/feed/feedStory(Do).js"></script>
  <script src="/js/feed/feedSlide(Do).js"></script>
  <!-- <script src="/js/feed/feedModal(Do).js"></script> -->
</body>

</html>