<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인 Feed 무한스크롤</title>

  <link rel="stylesheet" th:href="@{/css/feed/feedSlide.css}">
  <link rel="stylesheet" th:href="@{/css/feed/mainFeed.css}">

</head>

<body>
  <!-- 무한스크롤 적용된 메인Feed가 나올 영역 -->
  <div class="infinite-scroll-container">
    <!-- 게시물들이 추가될 wrapper -->
    <div class="infinite-scroll-wrapper">
      <!-- Initial feed items would be here -->
    </div>
  </div>

  
  <script src="/js/feed/mainfeed.js"></script>
  <script src="/js/feed/feedSlide.js"></script>
</body>

</html>