<!-- 스토리 영역 -->
<section class="stories-section">

  <div th:if="${#lists.isEmpty(stories)}" class="empty-stories">
    <p>새로운 스토리가 없습니다</p>
  </div>

  <div class="stories-container" th:if="${not #lists.isEmpty(stories)}">
    <div th:each="story : ${stories}" class="story-item" th:data-story-id="${story.storyNo}">
      <div class="story-wrapper" th:class="${board.storyCheck ? 'viewed' : ''}">
        <div class="story-border">
          <img th:src="${story.profileImg != null ? story.profileImg : '/path/to/default/image.jpg'}"
            class="story-profile-image">
        </div>
      </div>
      <span th:text="${story.memberNickname}" class="story-username">닉네임</span>
    </div>
  </div>

  <th:block th:if="${stories != null && #lists.size(stories) > 6}">
    <button class="nav-button prev">
      <span class="nav-icon">←</span>
    </button>

    <button class="nav-button next">
      <span class="nav-icon">→</span>
    </button>
  </th:block>
</section>

<!-- 스토리 영역 end -->