<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram Stories UI</title>

    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <div class="stories-container">
        <div class="story-item" data-story-id="${story.storyNo}">
            <div class="story-wrapper">
                <div class="story-border">
                    <img th:src="${profileImg}" class="story-profile-image">
                </div>
            </div>
            <span th:text="${memberNickname}" class="story-username">Nname</span>
        </div>
    </div>

    <script src="script.js"></script>

</body>
</html>